

@font-face {
    font-family: 'amazigh_arialregular';
    src: url('https://raw.githubusercontent.com/riless/tamazight/master/files/fonts/web-fonts/amazigh-arial/mzarial-webfont.eot');
    src: url('https://raw.githubusercontent.com/riless/tamazight/master/files/fonts/web-fonts/amazigh-arial/mzarial-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/riless/tamazight/master/files/fonts/web-fonts/amazigh-arial/mzarial-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/riless/tamazight/master/files/fonts/web-fonts/amazigh-arial/mzarial-webfont.woff') format('woff'),
         url('https://raw.githubusercontent.com/riless/tamazight/master/files/fonts/web-fonts/amazigh-arial/mzarial-webfont.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/riless/tamazight/master/files/fonts/web-fonts/amazigh-arial/mzarial-webfont.svg#amazigh_arialregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix{clear: both}
.special{background: #f1c40f!important;}

* {
margin: 0;
padding: 0;
}
body {
font: 14px/1.5 "amazigh_arialregular", Verdana, Sans-Serif;
background: #eee;
}
#container {
margin: 20px auto;
width: 688px;
}
#write {
margin: 0 0 5px;
padding: 5px;
width: 671px;
height: 200px;
font: 16px/1.5 "amazigh_arialregular", Verdana, Sans-Serif;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
background: #DADDE1;
padding: 10px;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #F3F3F3;
    color:#000000;
    border-bottom: 1px solid #838486;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 1px #000;
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
            width: 70px;
            }
            #keyboard .capslock {
            width: 80px;
            }
            #keyboard .return {
            width: 77px;
            }
            #keyboard .left-shift {
            width: 95px;
            }
            #keyboard .right-shift {
            width: 109px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
        clear: left;
        width: 661px;
        }
        .on {
        display: none;
        }
        #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
        }
        
